header{ 
    background-color: #ead2bb;
    height:80px;
    width:100%;
    position:relative;
}
h1{ 
    position:absolute;
    left:120px;
    top:0;
    line-height:80px;
    background-repeat: no-repeat;
    background-position:center;
}

header ul{
    position:absolute;
    right:6vw;
    top:0;
    line-height: 20px;
}
header li{
    display: inline;
    margin-right:4vw;
}
header a {
    color:white;
    text-decoration:none;
}
header a:hover{
    text-decoration:underline;
}
body {
 margin: 0px;
 padding:0px;

}
.menu{
    display:none;
}
h2 a{
    background-color: #0078d4;
    margin: 0;
}

.dropdown:hover .submenu {
    display: block;
}

section {
    margin-top: 10px;
}

/* 子選單樣式 */
.submenu {
    display: none; /* 預設隱藏 */
    position: absolute;
    top: 100%; /* 子選單顯示在主選單下方 */
    left: 10;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    white-space: nowrap;
}

.submenu li a {
    display: block;
    padding: 5px 10px;
    width: 50%;
    text-decoration: none;
    color: white;
}

.submenu li a:hover {
    background-color: #666;
}

footer {
    text-align: center; /* 文字水平居中 */
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 16px;
}

.player-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 音樂控制按鈕 */
.controls {
    margin-top: 15px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005a9e;
    }
button {
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        color: #fff;
        background-color: #0078d4;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

.menu{
    display: none;
}
/* 響應式設計語法 */
@media screen and(max-width:768px) {
    .header ul{
        display:none;
    }
    .header h1{
        left:50%; 
        transform:translateX (-50%);
    }

    .news h2{
        font-size:40px;
    }
    
    .menu{
        display: block;
        background-color: transparent;
        font-size:35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor:pointer;
        
    }

    .baby{
        height: 100%;
        width: 100%;
    }


    .audio, video {
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
    }


}